name: ci_python

on:
  push:
    paths:
    - "**.py"
  pull_request:
    paths:
    - "**.py"

jobs:

  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - run: pip install .[tests,lint]
    - run: flake8
    - run: mypy
    - run: pytest
      working-directory: tests

  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - run: pip install .[tests]
    - run: pytest
      working-directory: tests
